.txt {
    font-family: 'Inter', sans-serif;
    /* font-style: bold; */
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */
    display: flex;
    align-items: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.019em;
    color: #000000;
    /* scale: 0.7 0.7; */
    }
    .header_tile {
    /* calendar cell */
    width: 200px;
    height: 70px;
    border-radius: 6px;
    /* background: #A4A3A3; */
    background: #737373;
    
    /* Inside auto layout */
    flex: none;
    /* order: 0; */
    /* flex-grow: 0; */
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    }
    .big_tile {
    width: 200px;
    height: 140px;
    /* scale: 0.7 0.7; */
    }
    .liddle_tile {
    width: 200px;
    height: 70px;
    /* scale: 0.7 0.7; */
    }
    .dark_tile {
    background: #C9C9C9;
    border-radius: 6px;
    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
    }
    .light_tile {
    background: #E6E6E6;
    border-radius: 6px;
    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
    }
    .calendar {
    /* Auto layout */
    left: 0px;
    display: flex;
    /* position: relative; */
    /* flex-direction: column; */
    /* align-items: flex-start; */
    padding-top: -100px;
    gap: 10px;
    /* width: 1250px; */
    /* height: 690px; */
    /* Inside auto layout */
    /* flex: none; */
    flex-grow: 0;
    }
    .big_box {
    /* Auto layout */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    padding-top: -100px;
    /* gap: 49px; */
    width: auto;
    height: auto;
    /* background: #525252; */
    border-radius: 6px;
    /* Inside auto layout */
    /* flex: none; */
    /* order: 0; */
    /* flex-grow: 0; */
    /* overflow: auto; */
    }
    .row {
    /* Auto layout */
    flex-wrap: nowrap!important;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 1250px;
    /* height: 140px; */
    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
    }
    p {
    font-size: 17px;
    padding-right: 5px;
    color: black;
    }
    .container {
    display: flex; 
    margin-left: 0px;
    margin-right: 0px;
    /* flex-wrap: wrap; */
    overflow: hidden;
    }
    .item {
    order: 5; /* default is 0 */
    margin: 10px;
    }
    .class_box {
    font-size: 13px;
    width: 200px;
    height: 130px;
    border-radius: 16px;
    background-color: #E6E6E6;
    }
    .center {
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .filterDiv {
    float: left;
    text-align: center;
    order: 5; /* default is 0 */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 20px;
    text-decoration: none; 
    font-size: 13px;
    width: 200px;
    height: 130px;
    border-radius: 16px;
    background-color: #E6E6E6;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none; /*Hidden by default */
    color: black;
    }
    .filterDiv:hover {
    text-decoration: none; 
    }
    /* The "show" class is added to the filtered elements */
    .show {
    display: flex !important;
    /* display: block; */
    }
    .containerr {
    /* overflow: hidden; */
    display: flex; 
    margin-left: 0px;
    margin-right: 0px;
    flex-wrap: wrap;
    overflow: hidden;
    }
    /* Style the buttons */
    .btnn {
    border: none;
    outline: none;
    padding: 6px 13px;
    /* padding-left: 4px; */
    margin-right: 5px;
    border-radius: 8px;
    background-color: #f1f1f1;
    font-size: 16px;
    cursor: pointer;
    }
    /* Add a light grey background on mouse-over */
    .btnn:hover {
    background-color: #ddd;
    }
    /* Add a dark background to the active button */
    .btnn.active {
    background-color: #666;
    color: white;
    }
    .info_sheet {
    margin-top: 10px;
    padding: 20px; 
    /* background: #525252; */
    background: #959595;

    
    width: auto;
    height: auto;
    border-radius: 10px;
    overflow: auto;
    }
    .first_textfield {
    list-style-type: none;
    font-size: 20px;
    padding-left: 30px; 
    }
    .no_link {
       font-size: 17px;

       text-decoration: none;
       color: black;
    }
    input {
       border-radius: 5px;
       border: 0;
       padding-left: 8px;

    }

       body {
       font-family: 'Inter', sans-serif;
       background-color: #f5f5f5;
       margin-bottom: 50px;
   }
   table {
       /* border:1px solid #b3adad; */
       border-collapse:collapse;
       padding:5px;
   }
   table th {
       /* border:1px solid #b3adad; */
       padding:5px;
       /* background: #f0f0f0; */
       /* color: #313030; */
   }
   table td {
       /* border:1px solid #b3adad; */
       /* text-align:center; */
       padding:5px;
       padding-top: 10px;
       /* background: #ffffff; */
       /* color: #313030; */
   }
   .hide_a {
    text-decoration: none !important;
    color: black !important;
  }